@model Budget_App.Models.ViewModels.TransactionViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Edit</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4 mt-2">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Transaction.Id" />
            <div class="form-group mt-2">
                <label asp-for="Transaction.Name" class="control-label"></label>
                <input asp-for="Transaction.Name" class="form-control" />
                <span asp-validation-for="Transaction.Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Transaction.Date" class="control-label"></label>
                <input asp-for="Transaction.Date" class="form-control" />
                <span asp-validation-for="Transaction.Date" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Transaction.Category" class="control-label"></label>
                <select asp-for="Transaction.CategoryId" class="form-control">
                    @foreach (var c in Model.Categories)
                    {
                        <option value="@c.Id">@c.Name</option>
                    }
                </select>


                <span asp-validation-for="Transaction.CategoryId" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



